


.add-thoughts-bar-container {
    margin: 2em;
    margin-bottom: 0;
    border-bottom: 2px solid #422711;
}

.form-container {
    margin: 20px auto;
    width: 300px;
    padding: 20px;
    border: 1px solid #422711;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
}

.input-group {
    margin-bottom: 10px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #422711;
    border-radius: 20px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    align-content: center;
}

button {
    width: 100%;
    background-color: #422711;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

button:hover {
    background-color: #955627;
}



/* main feed styles */



.feed-page-container {
    display: flex;
    width: 100%;
}

.large-screen-nav-bar {
    flex: 1;
    border-right: 2px solid #422711;
}

.main-feed-container {
    flex: 4;
    height: 75vh;
}