body {
    background-color: #e1cdc2;
    color: #422711;
}


.dividers {
    background-color: #422711;
    height: 2px;
    border: none;
    margin: 10px 0;
}

p {
    font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
}

label {
    font-family: "Poppins", sans-serif;
}